*{
    margin: 0 auto;
    padding: 0;
    border: 0;
}

body{
    background-color: #CAB95A
}

.hnav{
    background-color: #4D3B29
}

.hnav ul{
    text-align: center;
    padding: 2px;
}

.hnav ul li {
    display: inline;
    font-size: 2em;
    margin-right: 40px;
}

.hnav a{
    text-decoration: none;
    color: #CAB95A;
}

.hnav a:hover{
    background-color: #CAB95A;
    color: #4D3B29
}

header h1{
    color: #4D3B29;
    font-size: 4em;
    text-align: center;
    border: 1px solid #4D3B29;
}

blockquote{
    font-size: 1.5em;
    text-align: center;
    color: #4D3B29;
    font-weight: bold;
}


#container ul{
    list-style: none;
}

#container ul li{
    color: #4D3B29;
    font-size: 2em;
    padding: 2%;
}

p{
    font-size: 1.5em;
    color: #4D3B29;
    padding: 2%;
}

img{
    float: right;
    height: 250px;
    border: thin;
    border-radius: 2%;
    margin-left: 2%;
}

h3 {
    font-size: 3em;
    color: #CAB95A;
}

#Newsletter {
    height: 500px;
    font-size: 1.5em;
}

.fnav{
    background-color: #4D3B29
}

.fnav ul{
    padding: 1%;
}

.fnav ul li{
    display: inline;
    font-size: 1em;
    margin-right: 20px;
}
.fnav a{
    text-decoration: none;
    color: #CAB95A;
}

footer{
    background-color: white;
    text-align: center;
    position: absolute;
    bottom: 0 auto;
    width: 100%;
}